# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL="YOUR_DATABASE_URL_HERE"
PORT="YOUR_PORT_HERE"
APP_URL="YOUR_APP_URL_HERE"
BCRYPT_SALT_ROUNDS="YOUR_BCRYPT_SALT_ROUNDS_HERE"
JWT_ACCESS_SECRET="YOUR_JWT_ACCESS_SECRET"
JWT_REFRESH_SECRET="YOUR_JWT_REFRESH_SECRET"
JWT_ACCESS_EXPIRES_IN="YOUR_JWT_ACCESS_EXPIRES_IN_TIME"
JWT_REFRESH_EXPIRES_IN="YOUR_JWT_REFRESH_EXPIRES_IN_TIME"





# ! HTTP status codes
# httpStatus.OK                  // 200
# httpStatus.CREATED             // 201
# httpStatus.ACCEPTED            // 202
# httpStatus.NO_CONTENT          // 204

# httpStatus.BAD_REQUEST         // 400
# httpStatus.UNAUTHORIZED        // 401
# httpStatus.FORBIDDEN           // 403
# httpStatus.NOT_FOUND           // 404
# httpStatus.CONFLICT            // 409
# httpStatus.UNPROCESSABLE_ENTITY // 422

# httpStatus.INTERNAL_SERVER_ERROR // 500
# httpStatus.BAD_GATEWAY           // 502
# httpStatus.SERVICE_UNAVAILABLE   // 503


# ! Create JWT token command
# 1. node
# 2. require('crypto').randomBytes(64).toString('hex')


# ? Recursion


# npx prisma migrate dev
# npx prisma generate